BUCKET_NAME=gliding-co-nz-backups
B2_APPLICATION_KEY_ID=examplekeyid12345
B2_APPLICATION_KEY=examplekey12345
MYSQL_DB=wordpress_c
BACKUP_DEST=/home/forge/backups
BACKUP_SOURCE=/home/forge/gliding.co.nz/public
RETENTION_KEEP_ALL_DAYS=7
RETENTION_DAILY_DAYS=7
RETENTION_WEEKLY_WEEKS=8
RETENTION_MONTHLY_MONTHS=4
RETENTION_YEARLY_YEARS=2
